@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.flash-success {
  font-size: 1.4rem;
  color: green;
  font-weight: bold;
  padding: 10px 0;
}
.flash-error {
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
  padding: 10px 0;
}