<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('offer_create') }}">Create Offer</a></li>
        <li class="breadcrumb-item"><a href="{{ path('offer_list') }}">Offer List</a></li>
    </ol>
</nav>
